body {
    font-family: 'Poppins', sans-serif;
    background: #b9b3a9;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 750px;
    height: 400px;
    padding: 20px;
    margin-top: 80px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  
  .nav-bar {
    display: flex;
    background:white;
    width:70%;
    height:35px;
    margin-bottom: 50px;
    padding-left: 25%;
}


.nav-link > a {
margin-left:20px;
    text-decoration: none;
    float:left;
    color: white;
    padding: 5px 80px 3px 80px;
    font-size: 20px;
    background: rgb(18, 180, 216);
    height:30px;
    width:45%;
    text-align:center;
    border-radius: 25px;
}


 .nav-bar a:hover {
  background-color:grey;
  color: black;
  width:45%;
  
}
